{% extends "skeletons/main.jinja" %}

{% block "content" %}
<h1>Create card</h1>
<form method="post" action="{% url 'card.create' project_id=project_id category_id=category_id %}">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Create card" />
</form>
{% endblock %}
