{% extends "skeletons/main.jinja" %}

{% block "content" %}
<h1>Edit project</h1>
<form method="post" action="{% url 'project.edit' project_id=project.id %}">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Edit project" />
</form>
{% endblock %}
